<mat-progress-bar mode="indeterminate" value="100" *ngIf="isLoading"></mat-progress-bar>
<mat-accordion multi="true" *ngIf="!isLoading">
  <mat-expansion-panel hideToggle *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <mat-action-row>
      <button mat-button color="primary" (click)="onEditPost(post.id)">EDIT</button>
      <button mat-button color="warn" (click)="onDeletePost(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-card *ngIf="!isLoading && posts.length <= 0">
  <mat-card-content class="info-text mat-body-1">No post added yet</mat-card-content>
</mat-card>
